rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for Truk Deal il
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
